@charset "UTF-8";
*
{
	margin : 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body
{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 15% 15% 70%;
	width: 100vw;
	height: 100vh;
	place-items: center;
	overflow: hidden;
	background-color: #022830;
}
h1
{
	color: #fff;
}
.container
{
	width: fit-content;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(1.25);
}
form, form > div
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 10px;
	z-index: 2;
	color: #fff;
}
form
{
	flex-direction: column;
}
input
{
	padding: 10px;
	height: 50px;
	font-size: 1rem;
	border: none;
	border-radius: 10px;
	outline: none;
}
input[type="submit"]
{
	color: #fff;
	background-color: #033f4d;
	cursor: pointer;
}
input[type="text"]
{
	width: 30%;
}
.row
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 3rem auto;
	gap: 0.5rem;
	margin-top: 1rem;
	position: relative;
}
.node
{
	display: grid;
	grid-column: 1/3;
	place-items: center;
	width: 3rem;
	height: 3rem;
	font-size: 1.25rem;
	background-color: #cdcdcd;
	border-radius: 50%;
	margin: auto auto;
	transition: 1s;
}
@keyframes show {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1; /* Changed opacity value */
        transform: scale(1);
    }
}
.node::before
{
	content: "";
	position: absolute;
	width: 50%;
	height: 1.5rem;
	left: 50%;
	top: 0;
	transform: translateY(-100%);
	transition: 1s;
	background: linear-gradient(to bottom right, #0000 49%,#fff 0 51%,#0000 0);
}
.row:nth-child(3) > span::before{
	left: auto;
	right: 50%;
	background: linear-gradient(to bottom left, #0000 49%,#fff 0 51%,#0000 0);
}
.container > div > span::before
{
	content: none;
}